# compiled python byte code
*.pyc

# R environment files
.RData
.Rhistory

# output logging from nohup command
nohup.out

# ignore log files
*.log

# temp files
temp*
stub*
test*

# ms output
seedms

# office temp files
~*